:root {
	--rojo: #E50914;
	--fondo: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 15px 0;
}

header .contenedor {
	display: flex;

	/*Le da un margen automático a los elementos del contenedor para que esté uno al lado del otro*/
	justify-content: space-between;

	/*Centrar los elementos de forma vertical */
	align-items: center;
}

header .logo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal; /* le saca el negrita*/
	color: var(--rojo);
	font-size: 40px;
}

header nav a {
	color:  #AAA;
	text-decoration: none; /* le saca el subrayado del link*/
	margin-right: 20px;
}

header nav a:first-child,
header nav a:hover {
	color: #eee;
}


/* ---- ------------ --- Pelicula Principal ---- ------------ --- */

.peli-principal {
	font-size: 16px;
	min-height: 30em;	
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5) 100%), 
	url(./imagenes/6fA9nie4ROlkyZAUlgKNjGNCbHG.jpg);
	background-position: center 0;
	background-size: cover;
	margin-bottom: 3.125em;
	display: flex;
	align-items: end;
}

.peli-principal .contenedor {
	margin: 0 auto; /* Con esto quitamos el margen general que pusimos en .contenedor mas arriba */
	margin-bottom: 6.25em;
}

.peli-principal .titulo {
	font-weight: 600;
	font-size: 3.125em;
	margin-bottom: 0.4em; /* porque es a partir del 3.125em de arriba*/
}

.peli-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em; 
	max-width: 50%;
	margin-bottom: 1.25em;
}

.peli-principal .boton {
	background: rgba(0, 0, 0, .3);
	border: none;
	color: #ccc;
	border-radius: 0.31em; /*5 px*/
	padding: 0.7em 1.5em;
	margin-right: 1em;
	font-size: 1em;
	cursor: pointer;
	transition: .3s ease background;
	font-size: 1.12em;
}

.peli-principal .boton:hover {
	background: #fff;
	color: #000;
}

.peli-principal .boton i {
	margin-right: .5em;
}

/* ---- ------------ --- Media Queries ---- ------------ --- */

@media screen and (max-width: 800px) {
	header .logo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
	}

	.peli-principal {
		font-size: 14px;
	}

	.peli-principal .descripcion {
		max-width: 100%;
	}

}


